RewriteEngine On
RewriteBase /

# Do not override requests for files in /public
RewriteCond %{REQUEST_URI} ^/public/ [NC]
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# Redirect everything else to index.php
RewriteRule ^ index.php [L]
