RewriteEngine On

# Redirects all '.php' file requests to index.php, except for index.php itself
RewriteCond %{REQUEST_URI} \.php$ [NC]
RewriteCond %{REQUEST_URI} !^/index\.php$ [NC]
RewriteRule ^ index.php [L]

# Redirects all requests which are not static files to index.php
RewriteCond %{REQUEST_URI} !\.(js|css|png|jpg|jpeg|gif|ico)$ [NC]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [QSA,L]